.errore {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 350px; 
    overflow: hidden;
    text-align: center;
}

.errore-overlay {
    position: relative;
    z-index: 2;
}


.errore h1 {
    font-size: clamp(80px, 16vw, 190px);
    font-weight: 900;
    color: #003d32; 
    margin-bottom: 2rem;
    text-shadow: 3px 3px 0 black;
    letter-spacing: -2px;
    line-height: 0.9;
    animation: pulse 1s infinite;
}


.button {
    display: inline-block;
    padding: 15px 30px;
    font-size: 60px;
    color: #003d32;
    border: solid 2px #003d32;
    border-radius: 5px;
    text-decoration: none;
    }

.button:hover {
    transform: translateY(-5px) scale(1.05);
    background-color: #003d32;
    color: #fff;
    box-shadow: 0 10px 25px rgba(0,0,0,0.6);
}


@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.08); }
    100% { transform: scale(1); }
}


.image {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;   
    z-index: -10; 
}