.swipe-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; 
    margin-top: 50px;
  }
  
  .swipe-arrow {
    display: block;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 15px solid #9aa7a9;
    opacity: 0;
    animation: swipe-down 1.5s infinite;
  }
  
  
  .swipe-arrow:nth-child(1) { animation-delay: 0s; }
  .swipe-arrow:nth-child(2) { animation-delay: 0.3s; }
  .swipe-arrow:nth-child(3) { animation-delay: 0.6s; }
  
  
  @keyframes swipe-down {
    0% {
      opacity: 0;
      transform: translateY(0);
    }
    50% {
      opacity: 1;
      transform: translateY(10px);
    }
    100% {
      opacity: 0;
      transform: translateY(20px);
    }
  }
  